<%= form_for @post, html: { multipart: true} do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title, class: 'form-control' %>
  </div>
  <div class="field form-group">
  <%= form.file_field :image, id: :image, class: 'form-control' %>
</div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :post_description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit :submit, class:"btn btn-primary" %>
  </div>
<% end %>
